.profileHeader {color:white; padding-left: 30%}
.profileText {font-size: 15px; color: white; font-family:Impact; font-weight:bold; padding-left: 0%; align-content: center;}
.profileBackground {background-color: #84bd93;}